# https://coreos.com/os/docs/latest/using-environment-variables-in-systemd-units.html

CIF_LOGLEVEL=INFO

CIF_RUNTIME_PATH={{ cif_runtime_path }}
CIF_STORE_STORE={{ cif_store_store }}
CIF_STORE_NODES={{ cif_store_nodes }}
CIF_ROUTER_CONFIG_PATH={{ cif_router_config_path }}
CIF_HUNTER_EXCLUDE={{ cif_hunter_exclude }}
CIF_HUNTER_THREADS={{ cif_hunter_threads }}
CIF_HUNTER_ADVANCED={{ cif_hunter_advanced }}
CIF_GATHERER_GEO_FQDN={{ cif_gatherer_geo_fqdn }}

CSIRTG_SMRT_RUNTIME_PATH={{ csirtg_smrt_runtime_path }}
CSIRTG_SMRT_CONFIG_PATH={{ csirtg_smrt_config_path }}
CSIRTG_SMRT_RULES_PATH={{ csirtg_smrt_rules_path }}/default
CSIRTG_SMRT_CACHE_PATH={{ csirtg_smrt_runtime_path }}
CSIRTG_SMRT_CIF_REMOTE={{ csirtg_smrt_cif_remote }}
CSIRTG_SMRT_FIREBALL_SIZE={{ csirtg_smrt_fireball_size }}
CSIRTG_SMRT_GOBACK_DAYS={{ csirtg_smrt_goback_days }}