if [ -f /etc/default/cif ] ; then
	. /etc/default/cif
fi

export CIF_RUNTIME_PATH=$CIF_RUNTIME_PATH
export CIF_ROUTER_CONFIG_PATH=$CIF_ROUTER_CONFIG_PATH
export CIF_STORE_STORE=$CIF_STORE_STORE
export CIF_STORE_NODES=$CIF_STORE_NODES
export CIF_HUNTER_THREADS=$CIF_HUNTER_THREADS
export CIF_HUNTER_ADVANCED=$CIF_HUNTER_ADVANCED

export CSIRTG_SMRT_RUNTIME_PATH=$CSIRTG_SMRT_RUNTIME_PATH
export CSIRTG_SMRT_RULES_PATH=$CSIRTG_SMRT_RULES_PATH
export CSIRTG_SMRT_CONFIG_PATH=$CSIRTG_SMRT_CONFIG_PATH
export CSIRTG_SMRT_FIREBALL_SIZE=$CSIRTG_SMRT_FIREBALL_SIZE
export CSIRTG_SMRT_GOBACK_DAYS=$CSIRTG_SMRT_GOBACK_DAYS

# enable more detailed debugging, requires restart of service
export CIF_STORE_TRACE=1
export CIF_ROUTER_TRACE=1

#export CIF_STORE_SQLITE_TRACE=1
#export CIF_HUNTER_TRACE=1
#export CIF_GATHERER_TRACE=1